Takamul.API/Service References/SMSService/IBulkSMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PushMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Language" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ScheddateTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Recipients" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="RecipientType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PushMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PushMessageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PushMessageSoapIn">
    <wsdl:part name="parameters" element="tns:PushMessage" />
  </wsdl:message>
  <wsdl:message name="PushMessageSoapOut">
    <wsdl:part name="parameters" element="tns:PushMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IBulkSMSSoap">
    <wsdl:operation name="PushMessage">
      <wsdl:input message="tns:PushMessageSoapIn" />
      <wsdl:output message="tns:PushMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IBulkSMSSoap" type="tns:IBulkSMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushMessage">
      <soap:operation soapAction="http://tempuri.org/PushMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IBulkSMSSoap12" type="tns:IBulkSMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushMessage">
      <soap12:operation soapAction="http://tempuri.org/PushMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IBulkSMS">
    <wsdl:port name="IBulkSMSSoap" binding="tns:IBulkSMSSoap">
      <soap:address location="https://ismartsms.net/iBulkSMS/webservice/IBulkSMS.asmx" />
    </wsdl:port>
    <wsdl:port name="IBulkSMSSoap12" binding="tns:IBulkSMSSoap12">
      <soap12:address location="https://ismartsms.net/iBulkSMS/webservice/IBulkSMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>